:root {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --highlight-color: #9265c9;
}

body {
  background-color: rgb(215, 237, 255);
  padding: 1.5rem;
  max-width: 100vw;
  place-content: center;
}

ul {
  padding-left: 1.5rem;
  margin-top: 0;
}

h2 {
  margin: 1rem 0;
  color: var(--highlight-color);
  border-bottom: 0.1rem solid var(--highlight-color);
}

h3 {
  /* margin: 0.5rem 0; */
  margin: 0;
  font-weight: bold;
}

a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

#cv {
  max-width: 65rem;
  padding: 2.5rem;
  margin: 3rem auto;
  background-color: white;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0, 0, 0, 0);
}

#header {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  margin-bottom: 2rem;
}

#name {
  font-weight: bold;
  color: var(--highlight-color);
}

.intro p:first-child {
  font-weight: bold;
}

.intro {
  align-items: center;
  padding-left: 1rem;
  border-left: 0.5rem solid var(--highlight-color);
}

#contact,
#experience,
#technology,
#education,
#language {
  margin-bottom: 4rem;
}

#name {
  font-size: 4rem;
}

#contact {
  display: grid;
  grid-template-columns: auto auto auto;
}

#contact a span {
  text-decoration: underline;
}

#contact i {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
  color: var(--highlight-color);
}

#contact .phone {
  display: none;
}

#experience {
  display: grid;
  grid-template-columns: 10rem 1fr;
  row-gap: 2rem;
}

.experience-position {
  font-weight: bold;
  color: var(--highlight-color);
}

.experience-company {
  font-weight: bold;
}

#technology {
  display: grid;
  grid-template-columns: 10rem 1fr;
}

.technology-item span {
  font-weight: bold;
}

.technology-item p {
  margin: 0;
}

.technology-section {
  display: grid;
  column-gap: 1rem;
  grid-template-columns: auto auto;
  justify-content: space-between;
}

#education {
  display: grid;
  grid-template-columns: 10rem 1fr;
}

.education-institute {
  font-weight: bold;
}

#language {
  display: grid;
  grid-template-columns: 10rem 1fr;
}

.language {
  font-weight: bold;
}

@media screen and (max-width: 65rem) {
  body {
    background-color: white;
  }

  #cv {
    margin: 0 auto;
    box-shadow: none;
  }

  #contact {
    grid-template-columns: auto auto;
  }
}

@media screen and (max-width: 60rem) {

  #experience,
  #education,
  #technology,
  #language {
    grid-template-columns: 7rem 1fr;
  }
}

@media screen and (max-width: 40rem) {
  body {
    padding: 1rem;
  }

  #cv {
    padding: 0rem;
  }

  #header,
  #contact,
  #experience,
  #technology,
  #education {
    grid-template-columns: auto;
    row-gap: 1rem;
  }

  .intro {
    padding-left: 0;
    border-left: none;
  }

  #experience {
    row-gap: 1rem;
  }
}

@media print {

  html,
  body {
    font-size: 8.2pt;
    min-height: 0;
  }

  a span {
    text-decoration: none !important;
  }

  #cv {
    padding: 0 1.2cm 0 1.2cm;
    margin: 0;
    box-shadow: none;
    max-width: none;
  }

  #contact,
  #experience,
  #technology,
  #education,
  #language {
    margin-bottom: 1rem;
  }

  #contact {
    grid-template-columns: auto auto;
  }

  #contact .phone {
    display: block;
  }
}