#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --border: 5px solid black;
  --border-color: black;
  --accent-color: rgb(104, 147, 176);
}

.hero-img {
  max-width: 40rem;
}

nav {
  width: 100%;
  justify-content: space-between;
  height: 5rem;
  display: flex;
  gap: 2rem;
  place-items: center;
  margin-bottom: 2rem;
  border: var(--border);
}

nav a {
  padding: 1rem 3rem;
  margin: 1rem;
}

nav a.active {
  outline: var(--border);
  background-color: rgb(104, 147, 176);
  box-shadow: 0.5rem 0.5rem black;
}

nav a:hover {
  outline: var(--border);
  box-shadow: 0.5rem 0.5rem black;
}

.nav-socials a {
  outline: var(--border);
  margin-right: 3rem;
}

.nav-socials a:hover {
  background-color: var(--accent-color);
}

#bikes, #work {
  text-align: left;
}

.container {
  border: var(--border);
  box-shadow: 0.75rem 0.75rem black;
}

.bike-tabs {
  border-bottom: var(--border);
  display: flex;
}

.bike-tabs button {
  outline: var(--border);
  font-size: 1rem;
  width: 100%;
  padding: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}

.bike-tabs button.active {
  background-color: var(--accent-color);
}

.image-carousel {
  display: flex;
  flex-direction: column;
  border: var(--border);
}

.carousel-title {
  background-color: var(--accent-color);
  color: white;
  padding: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
}

.image-carousel img {
  border-left: none;
  border-right: none;
  border-top: var(--border);
  border-bottom: none;
}

.carousel-controls {
  border-top: var(--border);
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
}

.carousel-controls button {
  height: 3rem;
  width: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
}

.carousel-controls .button-left {
  border-right: var(--border);
}

.carousel-controls .button-right {
  border-left: var(--border);
}

.carousel-indicators {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.carousel-indicators li {
  width: 100%;
}

.carousel-indicators li.active {
  z-index: 1;
  outline: var(--border);
  background-color: var(--accent-color);
}

.card {
  text-align: left;
  padding: 2rem;
}

.bike-details {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.bike-components h3 {
  text-transform: uppercase;
}

.bike-components ul {
  text-align: left;
  list-style: none;
  padding: 0;
  border: var(--border);
}

.bike-components table {
  width: 100%;
  border-bottom: var(--border);
}

.bike-components table.table-last {
  border-bottom: none;
}

.bike-components .td-strong {
  width: 50%;
  min-width: 10rem;
}

.cv-button {
  margin-top: 2rem;
  padding: 1rem 2rem;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
  border: var(--border);
  box-shadow: 0.75rem 0.75rem black;
}