#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  --border: 5px solid black;
  --border-color: black;
  --secondary-color: rgb(215, 237, 255);
  --accent-color: #9265c9;
}

.hero-img {
  max-width: 40rem;
  border-right: var(--border);
}

.hero-text {
  padding: 2rem;
  font-size: 1.5rem;
}

nav {
  width: 100%;
  height: 6rem;
  background-color: var(--secondary-color);
  display: grid;
  grid-template-columns: 50% 50%;
  justify-content: space-between;
  align-items: center;
  border: var(--border);
  padding: 1rem 1rem 3.5rem;
  margin-bottom: 4rem;
}

nav a {
  padding: 1rem 3rem;
  font-size: 1.5rem;
}

nav a.active {
  outline: var(--border);
  background-color: var(--accent-color);
  box-shadow: 0.5rem 0.5rem black;
}

nav a:hover {
  outline: var(--border);
  box-shadow: 0.5rem 0.5rem black;
}

.nav-main {
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 1rem;
  justify-content: space-around;
}

.nav-secondary {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: end;
  gap: 2rem;
}

.nav-secondary a {
  border: var(--border);
  padding: 0;
}

.nav-secondary button {
  border: var(--border);
  background-color: inherit;
  font-size: 1.5rem;
  padding: 0.5rem;
}

.nav-secondary a svg {
  position: relative;
  height: 2.5rem;
  width: 2.5rem;
}

.nav-secondary button:hover,
.nav-secondary a:hover {
  outline: none;
  background-color: var(--accent-color);
  box-shadow: 0.25rem 0.25rem black;
}

.nav-mobile {
  display: none;
}

.off-screen-menu {
  display: none;
}

#home,
#bikes,
#work {
  text-align: left;
  font-size: 1.5rem;
}

.container {
  border: var(--border);
  box-shadow: 0.75rem 0.75rem black;
  background-color: rgb(215, 236, 255);
}

#home .container {
  padding: 2rem;
}

#work .container {
  margin-bottom: 3rem;
}

#bikes .container,
#home .container {
  margin-bottom: 4rem;
}

#work li,
#work h4 {
  padding-bottom: 1rem;
}

.bike-tabs {
  border-bottom: var(--border);
  display: flex;
}

.bike-tabs button {
  outline: var(--border);
  font-size: 1.5rem;
  width: 100%;
  padding: 1.5rem;
  background-color: inherit;
  font-weight: bold;
  text-transform: uppercase;
  /* border: none; */
  cursor: pointer;
}

.bike-tabs button.active {
  background-color: var(--accent-color);
  z-index: 2;
}

.image-display {
  display: flex;
  flex-direction: column;
  border: var(--border);
}

.hero-image-container {
  display: flex;
  flex-direction: row;
}

.display-title {
  background-color: var(--accent-color);
  padding: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  border-bottom: var(--border);
}

.hero-img img {
  border-right: var(--border);
}

.display-controls {
  border-top: var(--border);
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
}

.display-controls button {
  height: 3rem;
  width: 4rem;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: var(--accent-color);
  border: none;
  cursor: pointer;
}

.display-controls .button-left {
  border-right: var(--border);
}

.display-controls .button-right {
  border-left: var(--border);
}

.display-indicators {
  width: 100%;
  display: flex;
  list-style: none;
  justify-content: space-evenly;
  padding: 0;
  margin: 0;
}

.display-indicators li {
  width: 100%;
}

.display-indicators li.active {
  z-index: 1;
  outline: var(--border);
  background-color: var(--accent-color);
}

.card {
  text-align: left;
  padding: 2rem;
}

.bike-details {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.bike-components {
  border: var(--border);
}

.bike-components ul {
  list-style: none;
}

.bike-components table,
.bike-components li h3 {
  padding: 0 0.5rem;
}

#bikes h2 {
  padding: 1rem 0;
}

.bike-components h3 {
  text-transform: uppercase;
  padding: 0.25rem 0;
  border-bottom: var(--border);
  background-color: var(--accent-color);
}

.bike-components table {
  width: 100%;
  border-bottom: var(--border);
}

.bike-components table.table-last {
  border-bottom: none;
}

.bike-components td {
  padding: 0.25rem 0;
}

.bike-components .td-strong {
  width: 50%;
  min-width: 10rem;
}

.cv-button {
  border: var(--border);
  background-color: var(--accent-color);
  padding: 1rem 2rem;
  font-size: 1rem;
  box-shadow: 0.5rem 0.5rem black;
  margin-bottom: 5rem;
}

@media (max-width: 1100px) {
  .hero-img {
    max-width: 30rem;
  }
}

@media (max-width: 910px) {
  h1 {
    font-size: 3rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  nav {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: end;
    border: none;
    background-color: inherit;
    padding: 0;
    margin-bottom: 4rem;
  }

  nav a {
    padding: 0;
  }

  nav a.active {
    outline: none;
    background-color: inherit;
    box-shadow: none;
  }

  nav a:hover {
    outline: none;
    box-shadow: none;
  }

  .nav-main,
  .nav-secondary {
    display: none;
  }

  .nav-mobile {
    display: block;
    justify-content: end;
    background-color: var(--secondary-color);
  }

  .nav-mobile-secondary {
    display: flex;
    gap: 2rem;
    height: 5rem;
  }

  .nav-mobile-secondary a {
    border: var(--border);
    padding: 0;
    height: 4rem;
    width: 4rem;
  }

  .nav-mobile-secondary button {
    border: var(--border);
    background-color: inherit;
    font-size: 1.5rem;
    padding: 0.5rem;
    height: 4rem;
    width: 4rem;
  }

  .nav-mobile-secondary a svg {
    position: relative;
    top: -75%;
    height: 2.5rem;
    width: 2.5rem;
  }

  .nav-mobile-secondary button:hover,
  .nav-mobile-secondary a:hover {
    outline: none;
    background-color: var(--accent-color);
    box-shadow: 0.25rem 0.25rem black;
  }

  .hamburger-menu {
    height: 3.5rem;
    width: 3.5rem;
    position: relative;
    z-index: 4;
    border: var(--border);
  }

  .hamburger-menu span {
    height: 5px;
    width: 70%;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: .3s ease;
  }

  .hamburger-menu span:nth-child(1) {
    top: 30%;
  }

  .hamburger-menu span:nth-child(3) {
    top: 70%;
  }

  .hamburger-menu.active span:nth-child(1) {
    top: 50%;
    width: 80%;
    transform: translate(-50%, -50%) rotate(45deg);
  }

  .hamburger-menu.active span:nth-child(2) {
    opacity: 0;
  }

  .hamburger-menu.active span:nth-child(3) {
    top: 40%;
    width: 80%;
    transform: translate(-50%, 50%) rotate(-45deg);
  }

  nav a {
    font-size: 6rem;
  }

  .off-screen-menu {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    padding: 3.4rem;
    font-size: 6rem;
    z-index: 3;
    background-color: var(--secondary-color);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    right: -910px;
    transition: .3s ease;
    border-left: var(--border);
  }

  .off-screen-menu.active {
    right: 0;
  }

  .off-screen-menu a.active {
    color: var(--accent-color);
  }

  #work,
  #bikes {
    font-size: 1rem;
  }

  .hero-image-container {
    flex-direction: column;
    align-items: center;
  }

  .hero-img {
    border-left: var(--border);
  }

  .hero-text {
    border-top: var(--border);
  }

  .display-title {
    border-bottom: var(--border);
  }

  .bike-tabs button {
    padding: 1rem;
  }

  .display-controls button {
    height: 2rem;
    width: 4rem;
    font-size: 1.5rem;
    font-weight: bold;
    background-color: var(--accent-color);
    border: none;
    cursor: pointer;
  }
}

@media (max-width: 620px) {
  #root {
    padding: 0.5rem;
  }

  #home .container {
    padding: 0;
  }

  .container {
    box-shadow: 0.25rem 0.25rem;
    margin-bottom: 4rem;
  }

  #home .image-display {
    border: none;
  }

  .hero-img {
    max-width: 100%;
    border-left: none;
    border-right: none;
  }

  .off-screen-menu {
    padding-right: 1rem;
  }

  #bikes .card {
    padding: 0;
  }

  .bike-tabs {
    border: none;
  }

  .bike-tabs button {
    font-size: 1rem;
  }

  .image-display {
    border-left: none;
    border-right: none;
  }

  .bike-details {
    padding: 1rem;
  }

  #bikes .card h2 {
    padding: 1rem;
  }

  .bike-components ul {
    list-style: none;
  }

  .bike-components {
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
  }

  ::-webkit-scrollbar {
    display: none;
  }
}