
#root {
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  border: 3px solid black;
  --border-color: black;
  --accent-color: #007bff;
}

.hero-img {
  max-width: 40rem;
}

nav {
  justify-content: space-between;
  height: 5rem;
  display: flex;
  gap: 2rem;
  place-items: center;
  margin-bottom: 2rem;
  padding-left: 1rem;
  border: 3px solid var(--border-color);
}

nav a {
  padding: 1rem 3rem;
}

nav a.active {
  border: 3px solid var(--border-color);
  background-color: rgb(104, 147, 176);
  box-shadow: 0.5rem 0.5rem black;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.bike-components {
  
}

.bike-components h3 {
  text-transform: uppercase;
}

.bike-components ul {
  text-align: left; 
  list-style: none;
  padding: 0;
}

.bike-components td {
  min-width: 10rem;
}