:root {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  font-weight: 400;
  color-scheme: light dark;
  color: rgb(0, 0, 0);
  background-color: aliceblue;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-image: linear-gradient(90deg, rgba(196, 196, 196, 0.3) 1px, rgba(0, 0, 0, 0) 0px), linear-gradient(rgba(179, 179, 179, 0.565) 1px, rgba(0, 0, 0, 0) 0px);
  background-size: 40px 40px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  font-weight: bold;
  color: inherit;
}

h1, h2 {
  text-transform: uppercase;
}

h1 {
  font-size: 4rem;
}

button {
  color: inherit;
  font-weight: bold;
  background-color: var(--accent-color);
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* width */
::-webkit-scrollbar {
  width: 20px;
  border-left: 5px solid black;
}

/* Track */
::-webkit-scrollbar-track {
  background: inherit;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: black;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}