:root {
  font-family: 'Roboto Mono', monospace;
  box-sizing: border-box;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: inherit;
}

h1, h2 {
  text-transform: uppercase;
}

button {
  font-weight: bold;
  background-color: var(--accent-color);
  cursor: pointer;
  border: var(--border);
}

ul {
  list-style-type: none;
}