body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
}

.navbar-section {
  width: calc(100vw / 3);
  display: flex;
  justify-content: center;
}