html body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  overflow: overlay;
  overflow-x: hidden;
  background-color: rgb(28 28 28);
  color: rgb(106, 111, 119);
  scrollbar-color: auto;
}

::-webkit-scrollbar-track {
  background: inherit;
}

p {
  padding: 0;
  margin: 0;
}

.navbar {
  width: 100vw;
  height: 10vh;
  display: flex;
}

.navbar-section {
  width: calc(100vw / 3);
  display: flex;
  justify-content: center;
}

.footer {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer img {
  width: 136.25px;
  height: auto;
}

.under-construction {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  text-align: center;
  background-color: black;
}

.under-construction h2 {
  position: relative;
  text-transform: uppercase;
  font-size: 5vh;
  color: rgb(28 28 28);
  -webkit-text-stroke: 2px rgb(46, 48, 51);
  word-spacing: 100vw;
  margin: 0;
}

.under-construction svg {
  height: 34px;
  fill: rgb(46, 48, 51);
}

.under-construction svg:hover {
  fill: #f17ac8;
  transition: 0.3s ease-in-out;
}

@media only screen and (min-width: 720px) {
  .under-construction h2 {
    font-size: 8vh;
    -webkit-text-stroke: 3px rgb(46, 48, 51);
  }

  .under-construction svg {
    height: 54px;
  }
}

@media only screen and (min-width: 1200px) {
  .under-construction h2 {
    font-size: 11vh;
    -webkit-text-stroke: 3px rgb(46, 48, 51);
  }

  .under-construction svg {
    height: 80px;
  }
}